<div>
    <div>
        <h2 class="card-header text-center">{{ title }}</h2>
    </div>

    <div class="card-body">

        <h5 class="card-title">Enter the Id of the User to Remove</h5>
        <div class="input-group input-group-lg">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-lg">Id</span>
            </div>
            <input [(ngModel)]="userId" name="id" type="number" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm">
        </div>
        <button type="button" class="btn btn-secondary btn-lg" (click)="removeUser()">Remove</button>

        <div *ngIf="clientMessage.message.length > 0" class="alert alert-success" role="alert">
            {{ clientMessage.message }}
          </div>

    </div>
</div>