<div>
    <div>
        <h2 class="card-header text-center">{{ title }}</h2>
    </div>

    <div class="card-body">

        <!-- create a form!-->

        <!-- We'll take all of values captured ot the form and bindi t to a User object 
        in our register.component.ts file....then we can call a method that calls an HTTP service
    and send a POST request to our backend API.-->

        <form>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputFirstName">First Name</label>
                    <input [(ngModel)]="user.firstName" type="text" name="fname" class="form-control" id="inputFirstName">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputLastName">Last Name</label>
                    <input [(ngModel)]="user.lastName" type="text" name="lname" class="form-control" id="inputLastName">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputUsername">Username</label>
                    <input [(ngModel)]="user.username" type="text" name="username" class="form-control" id="inputUsername">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputPassword4">Password</label>
                    <input [(ngModel)]="user.password" type="password" name="password" class="form-control" id="inputPassword4">
                </div>
                <div class="form-group col-md-12">
                    <label for="inputEmail4">Email</label>
                    <input [(ngModel)]="user.email" type="email" name="email" class="form-control" id="inputEmail4">
                </div>
            </div>
            <button type="submit" class="btn btn-secondary" (click)="registerUser()">Register</button>

            <!--  SRUCTURAL DIRECTIVE first check DO we have a client message that's either positive or negative?
                  THEN we populate the view with the alert  -->
            <div *ngIf="clientMessage.message.length > 0" class="alert alert-success" role="alert">
                {{ clientMessage.message }} 
            </div> <!--*ngIf checks for a condition before displaying the element-->
        </form>

    </div>

</div>