<button type="button" class="btn btn-secondary btn-lg btn-block" placement="left" ngbPopover="Return to the main menu"
    popoverTitle="POST Request" (click)="goToMain()">
    Return to Main Page
</button>
<br />
<br />
<div *ngIf="movies.length > 0">
    <input [(ngModel)]="tmdb_id" name="tmdb_id" type="text" maxlength="10" size="10">
    <button class="btn btn-secondary" (click)="addMovie()">Add Movie To List Using TMDB ID</button>&nbsp;
    <div *ngIf="clientMessage.message.length > 0" class="alert alert-success" role="alert"> {{
        clientMessage.message }}
    </div>
    <br /> <br />
</div>
<!-- button to click -->

<!-- When I click the button it captures the user input -->

<!-- render the sprite of recommended movies. -->
<div class="card-body">

    <!-- I want to iterate through all the Movie elements within the movies property of this compoennt and render them -->
    <h1>Your Movie Recommendations: </h1>
    <br /> <br /> <br />
    <ul *ngFor="let m of movies" class="list-group">

        <li class="list-group-item">

            <img src="https://image.tmdb.org/t/p/w500/{{ m.img }}">
            <br /><br />

            <b>Title: </b> {{ m.title }} <b> Id: </b> {{ m.tmdb_id }}
            <br /><br />

            <b>Year:</b> {{ m.year }} <b>Genre:</b> {{ m.genre }} <b>Rating:</b> {{ m.rating }}
            <br /><br />
            <b>Description:</b> {{ m.description }}
            <br />


    </ul>

</div>