<!-- 1. Build out our view (what doe sthe find component look like?)-->

<!-- 2. Add the necessary properties to our component class (component.ts) -->
    <!-- 2a. add this componet's path to our app-routing.module.ts file -->
<!-- 3. Inject the userSerrvice INTO out component class, and make an HTTP request
        based on the id that user passes in  -->

        <div>
          <div>
              <h2 class="card-header text-center">Find Movies</h2> <!-- add the title property!-->
          </div>
      
          <div class="card-body">
      
              <h5 class="card-title text-center">Search for your favorite movies by title:</h5>
              <div class="input-group input-group-lg">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-lg">Movie Title:</span>
                  </div>
                  <!--2 way property binding to bind the input to a property that belongs to the component class-->
                  <input [(ngModel)]="title" name="title" type="text" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm">
                </div>
      
                <button class="btn btn-secondary" (click)="findMovieByTitle()">Find</button>
      
                <!-- I want to iterate through all the User elements within the users property of this compoennt and render them -->
                <br /> <br />
                
                <div *ngIf="movies.length > 0">
                <input [(ngModel)]="tmdb_id" name="tmdb_id" type="text" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm">
                <button class="btn btn-secondary" (click)="addMovie()">Add Movie To List Using TMDB ID</button>&nbsp;
                <button type="button" class="btn btn-secondary" placement="left" ngbPopover="Return to the main menu"
                    popoverTitle="POST Request" (click)="goToMain()">Return to Main Page</button>
                    <div *ngIf="clientMessage.message.length > 0" class="alert alert-success" role="alert"> {{
                      clientMessage.message }}
                  </div>
                <br /> <br />
                </div>

                <ul *ngFor="let m of movies" class="list-group">

                <li class="list-group-item">

                    <img src="https://image.tmdb.org/t/p/w500/{{ m.img }}">
                    <br /><br />

                    <b>Title: </b> {{ m.title }} <b> Id: </b> {{ m.tmdb_id }}
                    <br /><br />

                    <b>Year:</b> {{ m.year }} <b>Genre:</b> {{ m.genre }} <b>Rating:</b> {{ m.rating }}
                    <br /><br />
                    <b>Description:</b> {{ m.description }}
                    <br />

                    </ul>
      
          </div>
      
      </div>