<div class="bg-dark bg-gradient col-12 col-lg-4 col-md-6 col-sm-8 container-sm rounded shadow-lg">
    <div class="align-content-center container flex-wrap justify-content-center mb-5 mt-5 p-5">
        <h3 class="fs-3 fw-light mb-4 text-center text-light text-uppercase">Sign in</h3>
        <form role="form" class="text-light"> 
            <div class="mb-3"> 
                <label for="username-input" class="lead text-white-50">Username</label>                         
                <input type="username" class="bg-gradient bg-light form-control shadow-sm" id="inputUsername" required> 
            </div>                     
            <div class="mb-3"> 
                <label for="password-input" class="lead text-white-50">Password</label>                         
                <input type="password" class="bg-gradient bg-light form-control shadow-sm" id="inputPassword4" required>
            </div>                     
            <button type="submit" class="bg-gradient btn btn-lg btn-primary mt-3 pe-5 ps-5 shadow text-light w-100" (click)="login()">Sign In</button>                     
        </form>
    </div>
</div>