/** Private Styel Sheet for Main Component **/

img {
    display: block;
    height: 35em;
}

button {
    margin-bottom: 1%;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .center {
    text-align: center
   }

   ul{
       font-size: 30px;
   }