


<div>
    <div>
        <h2 class="card-header text-center">{{ title }}</h2>
    </div>

    <div class="card-body">

        <img src={{image}} alt="User Network" class="mx-auto d-block">

        <div class="list-group">
    

            <button type="button" class="btn btn-secondary btn-lg btn-block" placement="right"
                ngbPopover="Login User from the database" popoverTitle="POST Request" (click)="gotoLogin()">
                Log Out User
            </button>

            <button type="button" class="btn btn-secondary btn-lg btn-block" placement="right"
                ngbPopover="Get Recommendations" popoverTitle="GET Request" (click)="gotoRecommend()">
                Recommendations
            </button>

            <button type="button" class="btn btn-secondary btn-lg btn-block" placement="right"
            ngbPopover="Add Movies to Your List" popoverTitle="Post Request" (click)="gotoAdd()">
            Add Movies to Your List
            </button>
            <br />
            <h1 class="center"><u>Your Movies</u> </h1>   
            <br /> <br />
            <ul *ngFor="let m of movies" class="list-group">

                <li class="list-group-item">
         
                    <img src="https://image.tmdb.org/t/p/w500/{{ m.img }}" alt="Movie" class ="center" style= "width:125px;height:200px;">
                    <br />  <br />  <br />  
                    <b class="center-text"> {{ m.title }}  </b>
                    <br />
        
        
            </ul>
        </div>

    </div>
</div>