


<div>
    <div>
        <h2 class="card-header text-center">{{ title }}</h2>
    </div>

    <div class="card-body">

        <img src={{image}} alt="User Network" class="mx-auto d-block">

        <div class="list-group">
    

            <button type="button" class="btn btn-secondary btn-lg btn-block" placement="right"
                ngbPopover="Login User from the database" popoverTitle="POST Request" (click)="gotoLogin()">
                Login User
            </button>

            <button type="button" class="btn btn-secondary btn-lg btn-block" placement="right"
                ngbPopover="Get Recommendations" popoverTitle="GET Request" (click)="gotoRecommend()">
                Recommendations
            </button>

        </div>

    </div>
</div>