/* You can add global styles to this file, and also import other style files */
html, body {
    height: 100%;
    background-image: url("https://cutewallpaper.org/21/twin-peaks-red-room-wallpaper/Good-Dale-Cant-Leave-GIF-by-LaurelPho.jpg");
}

body {
    padding: 70px;
}

.card {
    padding: 1%;
}

